# PRECOMPILED CORE DEPENDENCIES
matplotlib
mdanalysis
netcdf4
numpy
scipy
sympy

# SELF-COMPILED CORE DEPENDENCIES
# constvplugin
openmm

# OPTIONAL CORE DEPENDENCIES
dask
joblib

# DOCUMENTATION DEPENDENCIES
furo
numpydoc
sphinx
sphinx-copybutton

# TEST DEPENDENCIES
mdanalysistests
pytest
ruff
tidynamics