# PRECOMPILED CORE DEPENDENCIES
dask
joblib
matplotlib
mdanalysis
netCDF4
numpy
scipy
sympy

# SELF-COMPILED CORE DEPENDENCIES
# constvplugin
# openmm

# OPTIONAL CORE DEPENDENCIES
dask
joblib

# DOCUMENTATION DEPENDENCIES
furo
numpydoc
sphinx
sphinx-copybutton

# TEST DEPENDENCIES
tidynamics